body, html {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
#wall {
    width: 7680px;
    height: 4320px;
}
.brick {
    width: 240px;
    height: 135px;
    display:inline-block;
    background-color: white;
}
.brick a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.brick a:hover {
    opacity: .5;
    background-color: blue;
}
.brick img {
    width: 240px;
    height: 135px;
    margin: 0;
    padding: 0;
}